.header {
    border-top: 1px solid #226ed2;
}
.body {
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #4a6385;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: black;
    text-decoration: none;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; /*раскидала внутренний контент*/
    height: 87px;
}

.menu__list {
    display: flex;
}

.menu__list li {
    margin-left: 38px;
}

.menu__list a {
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.top {
    background-color: #2c7de8;
    padding-top: 150px;
    padding-bottom: 180px;
}
.top-inner {
    display: flex;
}

.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #fff;
    line-height: 24px;
}

.top-info__title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 35px;
}

.top-info__descr span {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}

.top-info__list {
    margin-bottom: 50px;
}
.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 25px;
}

.top-info__list li::before {
    content: "";
    background-image: url("../img/ch.png");
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: -65px;
    right: -60px;
}

.top-images__title {
    font-family: Lato;
    margin-bottom: 10;
    text-align: left;
    font-weight: 400;
    width: 140px;
}
.top-images__price {
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5;
}

.top-images__date {
    font-family: Lato;
    font-weight: 400;
    text-align: right;
    width: 140px;
}

.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #2f3f54;
}

.title span {
    color: #2575e7;
}

.price__descr {
    /*тремя строчками ниже, поставила текст по центру*/
    text-align: center;
    max-width: 555px;
    margin: 35px auto 125px; /*текст сверху столкнул низ*/
}
.price__items {
    display: flex;
    justify-content: space-between;
}

.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding: 0 50px 60px;
    position: relative;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}
.price-item__number {
    width: 265px;
    height: 465px;
    border-radius: 136px;
    color: #fff;
    background-color: #2c7de8;
    position: absolute;
    top: -370px;
    font-weight: 700;
    font-style: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}

.price-item__number span {
    font-style: 16px;
}

.price-item__images {
    padding-top: 120px;
    min-height: 243px;
    margin-bottom: 30px;
    text-align: center;
}

.price-item__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #267ae9;
}
.price-item__text {
    margin-bottom: 50px;
    color: #4a6385;
    font-family: "Lato", sans-serif;
    font-family: Lato;
    line-height: 24px;
}

.price-item__list {
    margin-bottom: 75px;
}

.price-item__list li {
    font-style: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    color: #4a6385;
    padding-left: 36px;
    position: relative;
}

.price-item__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/ch.png); /*не получилось вырезать нужную иконку*/
    width: 15px;
    height: 11px;
}

.price-item__btn {
    font-size: 17px;
    color: #fff;
    background-color: #2c7de8;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.footer {
    background-color: #304054;
    padding: 80px 0 125px;
    color: #718db2;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer-col__logo {
    width: 263px;
}

.footer-logo {
    margin-bottom: 30px;
}
.footer__text {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.footer__title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #d0e4ff;
    margin-bottom: 30px;
}
.footer__list a {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin-bottom: 8px;
    color: #718db2;
    line-height: 31px;
    font-weight: 400;
    color: #718db2;
}
.footer-form {
    width: 263px;
}
.footer-menu {
    width: 165px;
}

.footer-form input,
.footer-form textarea {
    border: 1px solid rgba(255, 255, 255, 0.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    color: #718db2;
    padding: 0 12px;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
    font-family: "Lato", sans-serif;
    font-size: 11px;
    line-height: 1.2;
    color: #718db2;
}
.footer-form textarea {
    padding: 12px;
    height: 85px;
    resize: none;
    margin-bottom: 10px;
}

.footer-form button {
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    background-color: #2575e7;
    padding: 10px;
    cursor: pointer;
}
